# Python Exercise Book - Module 1 Assignment

The Python-3 Startup Guide was a very helpful guide to use to complete the Python Exercise Book assignment.

**Operators Exercise**

**1.** Assigns the following values 20, 10, 15 and 5 to variables a, b, c, and d using tuple.

In [131]:
a, b, c, d = 20, 10, 15, 5

**2.** Calculated the arithmetic operations below and printed the results for all 3 operations.        
a + b * c / d           
a + b * (c / d)  
(a + b) * c / d

In [132]:
print("Operation 1: ", a + b * c / d)
print("Operation 2: ", a + b * (c / d))
print("Operation 3: ", (a + b) * c / d)

Operation 1:  50.0
Operation 2:  50.0
Operation 3:  90.0

**3.**
The output for the first and second operations are both **50** even though the order of operations was different for each one. The order of operations for the first one is multiplication, division then addition, while the second operation is division, multiplication then addition. 
The order of operation for the third is addition, multiplication then division. Since addition takes priority in the order of operations due to the parenthesis, the result differs from the first two operations since the output is **90**.

**Strings Exercise**

**4.** Assigns car and red as strings into variable *thing* and *color*

In [133]:
thing, color = "car", "red"

**5.** Prints the following string "Isn’t the dealer’s best vehicle is the red car" using the variables I just assigned.

In [134]:
print("Isn’t the dealer’s best vehicle is the", color, thing)

Isn’t the dealer’s best vehicle is the red car

**List Exercise**

**6.** Creates a list called *Numbers* with the following values: [15, 40, 50, 100, 115, 140]

In [135]:
Numbers = [15, 40, 50, 100, 115, 140]

**7.** Slices the *Numbers* list using indexing to only return 100 and 115.

In [136]:
print(Numbers[3:5])

[100, 115]

**8.** Retrives the first 4 values from the *Numbers* list.

In [137]:
print(Numbers[:4])

[15, 40, 50, 100]

**9.** Returns all the values from the list starting at the 3rd position.

In [138]:
print(Numbers[2:])

[50, 100, 115, 140]

**10.** Retrives the last 4 values from the *Numbers* list using negative indexing.

In [139]:
print(Numbers[-4:])

[50, 100, 115, 140]

**11.** Value 15 from the *Numbers* list is in position **0**.

**12.** Creates the new_Numbers list containing values 1 and 2. Creates the all_Numbers list containing both the *Numbers* list and *new_Numbers* list.

In [140]:
new_Numbers = [1, 2]
all_Numbers = new_Numbers + Numbers
print(all_Numbers)

[1, 2, 15, 40, 50, 100, 115, 140]

**13.** Sorts the *all_Numbers* list in desending order using the sort method.

In [141]:
all_Numbers.sort(reverse=True)
print(all_Numbers)

[140, 115, 100, 50, 40, 15, 2, 1]

**Dictionary Exercise**

**14.** Creates a dictonary called *Dictionary* with state_name and state_code as the keys, and assigns a list to each key.

In [142]:
Dictionary= {'state_name':['Texas', 'Florida'], 'state_code':['TX', 'FL']}

**15.** Retrieves the first element from the state_name key.

In [143]:
Dictionary['state_name']

['Texas', 'Florida']

**16.** Adds a new key to *Dictionary* called geo_location and assigns a list to the new key. Prints the updated Dictionary to show the change.

In [144]:
Dictionary['geo_location'] = ['South', 'south']
print(Dictionary)

{'state_name': ['Texas', 'Florida'], 'state_code': ['TX', 'FL'], 'geo_location': ['South', 'south']}

**17.** Updates the 2nd value of the geo_location list from 'south' to 'South'. Prints the updated Dictionary to show the change.

In [145]:
Dictionary['geo_location'][1] = 'South'
print(Dictionary)

{'state_name': ['Texas', 'Florida'], 'state_code': ['TX', 'FL'], 'geo_location': ['South', 'South']}

**Indentation Exercise**

**18.** Correct indentation is used so that the function below runs properly with no errors, using 2 and 3 as the arguments.

In [146]:
def addition(x,y): 
    z =  x + y 
    return z 
print(addition(2,3))

5

**19.** Creates a function called rectangle that calculates and returns the area and perimeter for the rectangle using 2 and 5 as the arguments.

In [147]:
def rectangle(length, width):
    area = length * width
    perimeter = 2 * (length + width)
    return area, perimeter
print(rectangle(2,5))

(10, 14)

**Identify Exercise**

**20.** Demonstrates that 9 is not equal to 5 + 6.

In [148]:
9 != 5 + 6

True

**21.** Demonstrates that the following expression is False: 4 is greater than 5 or 9 is not equal to 9 and 3 is equal to 1 + 2

In [149]:
4 > 5 or 9 != 9 and 3 == 1 + 2

False